[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = ./pki/root-ca
certs             = $dir/certs
crl_dir           = $dir/crl
new_certs_dir     = $dir/newcerts
database          = $dir/index.txt
serial            = $dir/serial
crlnumber         = $dir/crlnumber
private_key       = $dir/private/root-ca.key.pem
certificate       = $dir/certs/root-ca.cert.pem
crl               = $dir/crl/root-ca.crl.pem
default_md        = sha256
default_days      = 7300
policy            = policy_strict
x509_extensions   = v3_ca

[ policy_strict ]
commonName = supplied

[ req ]
default_bits        = 4096
distinguished_name  = req_distinguished_name
default_md          = sha256
x509_extensions     = v3_ca

[ req_distinguished_name ]
commonName = Common Name
commonName_default = Demo Root CA

[ v3_ca ]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer
basicConstraints        = critical, CA:true
keyUsage                = critical, digitalSignature, cRLSign, keyCertSign

[ v3_intermediate_ca ]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer
basicConstraints        = critical, CA:true, pathlen:0
keyUsage                = critical, digitalSignature, cRLSign, keyCertSign
